# Core Frameworks
flask
python-dotenv

# LangChain Ecosystem
langchain
langchain-community
langchain-pinecone
langchain-huggingface
langchain-groq
langchain-text-splitters


# Embeddings / Transformers
huggingface_hub

# PDF & Data Handling
pypdf

# Vector Database
pinecone-client
gunicorn
# Local Project (editable install)
-e .
